# Immo Eliza Price Predicion with Machine Learning

## Setup
### Imports

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append('../')

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import plotly
import plotly.express as px
import plotly.graph_objects as go

from sklearn.feature_selection import VarianceThreshold
from plotly.subplots import make_subplots

from immo_eliza.preprocessing import *
from immo_eliza.model import *

## Data

In [3]:
raw_df = import_df()
raw_df.head()

,id,price,property_type,subproperty_type,region,province,locality,zip_code,latitude,longitude,...,fl_garden,garden_sqm,fl_swimming_pool,fl_floodzone,state_building,primary_energy_consumption_sqm,epc,heating_type,fl_double_glazing,cadastral_income
0,34221000,225000.0,APARTMENT,APARTMENT,Flanders,Antwerp,Antwerp,2050,51.217172,4.379982,...,0,0.0,0,0,MISSING,231.0,C,GAS,1,922.0
1,2104000,449000.0,HOUSE,HOUSE,Flanders,East Flanders,Gent,9185,51.174944,3.845248,...,0,0.0,0,0,MISSING,221.0,C,MISSING,1,406.0
2,34036000,335000.0,APARTMENT,APARTMENT,Brussels-Capital,Brussels,Brussels,1070,50.842043,4.334543,...,0,0.0,0,1,AS_NEW,NaN,MISSING,GAS,0,NaN
3,58496000,501000.0,HOUSE,HOUSE,Flanders,Antwerp,Turnhout,2275,51.238312,4.817192,...,0,0.0,0,1,MISSING,99.0,A,MISSING,0,NaN
4,48727000,982700.0,APARTMENT,DUPLEX,Wallonia,Walloon Brabant,Nivelles,1410,NaN,NaN,...,1,142.0,0,0,AS_NEW,19.0,A+,GAS,0,NaN

## Preprocessing

We're going to preprocess the data in a separate notebook to keep things clean. See preprocessing.ipynb for the thought process. We're going to get the clean df below:

In [17]:
X, y = preprocess(raw_df)

old dataframe size:  10.08 MB
optimized size by 5.0 %
new DataFrame size:  9.58  MB

/home/wouter/.pyenv/versions/lewagon/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

0        225000.0
1        449000.0
2        335000.0
3        501000.0
4        982700.0
           ...
75506    210000.0
75507    780000.0
75508    798000.0
75509    575000.0
75510    515000.0
Name: price, Length: 75511, dtype: float32

## Encoding

In [ ]:
df = encoding_df(df)